﻿.ax_default {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.button_normal_seconday {
  font-family:'Roboto';
  font-weight:bold;
  color:#FFFFFF;
}
.button_normal_primary {
  font-family:'Roboto';
  font-weight:bold;
  color:#76A9E0;
}
.icomoon {
  font-family:'', '', 'IcoMoon-Free';
  font-size:36px;
  color:#000000;
}
.shape {
}
.box_1 {
}
.box_2 {
}
.ellipse {
}
.image {
  color:#000000;
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.heading_1 {
  font-family:'Roboto';
  font-weight:700;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Roboto';
  font-weight:700;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Roboto';
  font-weight:700;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Roboto';
  font-weight:700;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Roboto';
  font-weight:700;
  text-align:left;
}
.heading_6 {
  font-family:'Roboto';
  font-weight:700;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  font-family:'Roboto-Regular', 'Roboto';
  text-align:left;
}
.line {
}
.text_field {
  font-family:'Roboto-Regular', 'Roboto';
  font-size:14px;
  color:#000000;
  text-align:center;
}
.text_area {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.flow_shape {
}
.html_button {
  color:#000000;
}
.horizontal_line {
}
.table {
}
.table_cell {
}
.vertical_line {
}
.connector {
}
.sticky_1 {
  text-align:left;
}
.sticky_3 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
.image1 {
  font-family:'Roboto';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
.icon {
}
.paragraph1 {
  text-align:left;
}
.shape1 {
}
.droplist {
  color:#000000;
  text-align:left;
}
.text_field1 {
  color:#000000;
  text-align:left;
}
